/*Regular CSS Elements*/
body {
  font-family: DOS;
  font-size: 17px;
  color: white;
  background-color: black;
}

button {
  background-color: #0000aa; 
  font-family: DOS;
  box-shadow: 5px; 
  color: white;
  border-style: double;
  padding: 10px 27px;
  margin: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  width: 49%;
  float: left;
  height: 75px;
  border-width: medium;
}

button:hover{background-color: red;}


/*Container Stuff*/ 
.opBox {
  width: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.outputBox {
  padding-top: 150px;
  text-align: center;
  font-size: 30px;
}



@media only screen and (max-width: 700px) {
  body {
    font-size: 12px;
  }
  .contactInfo {
    font-size: 10px;
  }
  button {
    width: 98%;
  }
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*Fonts*/
@font-face { font-family: DOS; src: url('Assets/dosFont.ttf'); } 
