/*Regular CSS Elements*/
body {
  font-family: DOS;
  font-size: 17px;
  color: white;
  background-color: black;
}

button {
  background-color: #0000aa; 
  font-family: DOS;
  box-shadow: 5px; 
  color: white;
  border-style: double;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 150px;
  height: 75px;
  border-width: medium;
}

button:hover{background-color: red;}

/*Custom Classes*/
.projects {
  display: flex;
  width: 100%;
}

.projectRow {
  display: flex;
  float: left;
}

.projectSeperator {
  border-style: solid;
  background-color: #0000aa;
  display: block;
  padding: 20px;
  margin: 20px;
  width: 30%;
  height: auto;
  text-wrap: pretty;
}

.contactInfo {
  text-align: center;
  color: white;
  float: center;
  display: block;
  font-size: 12px;
  padding: 5px;
  margin: 12px;
}

.contactInfo a {
  text-decoration: none;
  margin: 20px;
}

/*Container Stuff*/ 
.imageTxtContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.containerImg {
  flex-basis: 40%;
}

.containerText {
  padding-left: 20px;
}

.opBox {
  width: 50px;
}

/*Forza Gallery Classes*/
div.gallery {
  border: medium double;
  background-color: blue;
}

div.gallery:hover {
  border: medium double;
  background-color: red;
}

div.gallery img {
  width: 100%;
  height: 200px;

}

div.desc {
  padding: 15px;
  border: medium double;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  padding-bottom: 10px;
  width: 24.99999%;
}


@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*Fonts*/
@font-face { font-family: DOS; src: url('Assets/dosFont.ttf'); } 
