/*Regular CSS Elements*/
body {
  font-family: DOS;
  font-size: 17px;
  color: white;
  background-color: black;
}

button {
  background-color: black; 
  font-family: DOS;
  box-shadow: 5px; 
  color: white;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 150px;
}
/*Custom Classes*/
.projects {
  display: flex;
  width: 100%;
}

.projectRow {
  display: flex;
  float: left;
}

.projectSeperator {
  border-style: solid;
  background-color: lightgrey;
  display: block;
  padding: 20px;
  margin: 20px;
  width: 30%;
  height: auto;
  text-wrap: pretty;
}

.contactInfo {
  text-align: center;
  color: white;
  float: center;
  display: block;
  font-size: 12px;
  padding: 5px;
  margin: 12px;
}

.contactInfo a {
  text-decoration: none;
  margin: 20px;
}

/*Container Stuff*/ 
.imageTxtContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.containerImg {
  flex-basis: 40%;
}

.containerText {
  padding-left: 20px;
}

.opBox {
  width: 50px;
}

/*Fonts*/
@font-face { font-family: DOS; src: url('Assets/dosFont.ttf'); } 
