/* Custom Classes Here */
.floatLinks a {
  float: left;
  padding: 12px;
  display: block;
  background-color: white;
  margin: 5px;
  text-decoration: none;
  color: black;
  box-shadow: 5px, white;
  height: 100%;
}

.audioBlock {
  float: left;
  padding: none;
  display: block;
  background-color: white;
  color: black;
  margin: 3px;
  font-size: 8px;
  box-shadow: 5px, white;
  text-align: center;
}

.davePageTitle {
  font-size: 70px;
  color: white;
}

.davePageText {
  float: right;
  font-size: 70px;
  color: white;
}
/*Container Stuff*/

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.containerImg {
  flex-basis: 40%;
}

.containerText {
  padding-left: 20px;
}



/*Basic Webpage Styling*/ 
body {
  font-family: DOS;
  font-size: 17px;
  background-color: black;
  color: white;
}

/*Fonts*/
 @font-face { font-family: DOS; src: url('Assets/dosFont.ttf'); } 
