/* Custom Classes Here */
.floatLinks a {
  float: left;
  padding: 12px;
  display: block;
  background-color: #0200AD;
  margin: 6px;
  text-decoration: none;
  color: white;
  min-width: 100px;
  height: 100%;
  outline-style: double;
  text-align: center;
  outline-width: 4px;
}

.audioBlock {
  float: left;
  padding: 10px;
  display: block;
  background-color: #0200AD;
  color: white;
  margin: 6px;
  font-size: 8px;
  outline-style: double;
  outline-width: 4px;
  align-items: center;
  position: relative;
  width: 30%;
  text-align: center;
}

.audioContainer {
  display: flex;
  justify-content: center;

}

.davePageTitle {
  font-size: 70px;
  color: white;
}

.davePageText {
  float: right;
  font-size: 70px;
  color: white;
}
/*Container Stuff*/

.container {
  display: flex;
  padding: 10px;
  margin: 10px;
  align-items: center;
  justify-content: center;
  background-color: grey;
  opacity: 90%;
  outline-style: ridge;
}

.container h3 {
  font-size: 25px;
  white-space: nowrap;
  padding-right: 9px;
}
.containerImg {
  flex-basis: 40%;
}

.containerText {
  padding-left: 20px;
}



/*Basic Webpage Styling*/ 
body {
  font-family: DOS;
  font-size: 17px;
  background-color: black;
  color: white;
}

/*Fonts*/
 @font-face { font-family: DOS; src: url('Assets/dosFont.ttf'); } 
